<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Banners.DataModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Banners.DataModel.Properties.Settings.BannerflowConnectionString"
            connectionString="mongodb://bannerapi:bannerflow@ds040167.mlab.com:40167/bannerdb" />
    </connectionStrings>
    <applicationSettings>
        <Banners.DataModel.Properties.Settings>
            <setting name="BannerflowDatabaseName" serializeAs="String">
                <value>bannerdb</value>
            </setting>
        </Banners.DataModel.Properties.Settings>
    </applicationSettings>
</configuration>