

<div class="jumbotron">
    <h1>Banner API</h1>
    <p class="lead">Welcome to the API for CRUD with HTML banners!</p> 
    <p>Go to View/Update to retrieve and render html from the database, edit/update and upload encoded html.</p>
    <p>Go to Upload/Delete to delete banners, upload and encode banners to the database</p>
    <p>For more traditional tesing go to API</p>
</div>



          



    
